
* {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border: 2px solid #273c25;
    margin-top: 25px;
    border-spacing: 0;
    border-radius: 0 0 7px 7px;
}

th, tr {
    padding: 10px;
    text-align: center;
}

th {
    border-bottom: 2px solid rgba(143, 143, 143,0.5);
    text-align: center;
}

td {
    border-bottom: 1px solid rgb(231, 231, 231);
}

caption {
    font-weight: bold;
    background-color: #2b4383;
    color: white;
    line-height: 40px;
    border-radius: 6px 6px 0 0;
}

table td:nth-of-type(2) {
    text-align: left;
    padding: 10px;
}

table td:nth-of-type(1) {
    border-right: 1px solid rgb(231, 231, 231);
}

tr {
    height: 50px;
}

tbody tr:hover {
    background-color: rgb(245, 240, 240);
    border-bottom: 1px solid rgb(218, 218, 218);
}

thead:hover {
    background-color: #fff;
}


td a {
    text-decoration: none;
    color: rgb(55, 141, 255);
    font-weight: bolder;
}

td i {
    color: rgb(143, 143, 143);
    margin-right: 5px;
}

.fa-trash:hover {
    color: red;
}

.fa-pencil:hover {
    color: blue;
}

#status {
    color: rgb(0, 185, 0);
    font-weight: bolder;
}

#stat {
    color: red;
    font-weight: bolder;
}