
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   
    min-height: 100vh;
    background-color: darkslateblue;
}
.container{
    background-color: white;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
}
.header{
    background-color: #f7f7f7;
    text-align: center;
    padding: 30px;
}
.form{
    padding: 20px 30px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    
}
.form-control label{
    font-size: 18px;
    display: block;
    margin-bottom: 3px;
    
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
    outline: none;
    font-size: 18px;
}
.form-control i {
    position: absolute;
    right: 10px;
    top: 36px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    visibility: hidden;
    margin-top: 3px;
    left: 0;
}

.form button {
    display: flex;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.form-control.success input {
    border-color: lightgreen;
}

.form-control.success .fa-check-circle {
    visibility: visible;
    color: lightgreen;
}

.form-control.error input {
    border-color: red;

}

.form-control.error .fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.form-control.error small {
    visibility: visible;
    color: red;
}
