body{
    background-color: #f7dbc3 ;
    margin-left: 3%;
    font-family: "Avenir","Montserrat";
}
h1{
    color: rgb(16, 139, 5);
    text-align: left;
    margin: 0;
    font-size: 200%;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}
h2{
    color: black;
    text-align: left;
}
p{
    color: black;
    font-size: large;
}

li{
    font-size:large ;
    line-height: 1.5;
}